.question-container {
    display: flex;
    align-items: center;
    justify-content: center
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: underline;
    color: initial;
}

.watch-container {
    flex: 0.1;
    visibility: hidden;
}

.watch-container.show{
    flex: 0.1;
    margin-top: 200px;
    visibility:visible;
}
