<html lang='en'>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
    <title>First Scenario</title>
</head>
<body>
<div class='scenario'>
    <h3>Scenario I:</h3>
    <p>You are a memory card game lover. This morning, you have an important meeting to attend.
    You decided to play the game while waiting.
    </p>
    <p>Recently, you have formed a team and donated to a charity. 
        Your team has a daily goal for raising money so you are concerned about the progress.</p>
    <p>Luckily, you could check this progress on the smartwatch you have just bought. 
        This is the interface of the smartwatch. You use it to check time, check activity progress, and etc.</p>
    <p>Press return key to see the interface. 
        You need to check the time on your smartwatch to make sure that you won’t miss the meeting.</p>
    <p>The current time is 9:00 am, and your meeting time is 9:25 am. The time flow speed is not same to the real world.</p>
</div>
<div class='task'>
    <h3>Your tasks:</h3>
    <ul>
        <li>Play the game and find at least 4 matches</li>
        <li>Check your heart rate and calories</li>
        <li>Check the time</li>
        <li>Check the raising money progress</li>
        <li>Answer questions about the above tasks. The questions will automatically pop up and stop the game.</li>
    </ul>
</div>
<a href='firstGame'>Start the game</a>
</body>
</html>