<html lang='en'>
<head>
    <title>Scenario</title>
    <style>
        a {
          background-color: #327DA9;
          border: 1px solid #327DA9;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
      </style>
</head>
<body>
<div class='scenario'>
    <h3>Scenario:</h3>
    <p>You are a memory card game lover. You have an important meeting to attend after 25 minutes.
    You decided to play the game while waiting.
    </p>
    <p>Press <Strong>return key</Strong> to see the interface. 
        You need to check the time on your smartwatch to make sure that you won’t miss the meeting.</p>
    <p>The current time is 9:00 am, and your meeting time is 9:25 am. The time flow speed is not same to the real world.</p>
</div>
<div class='task'>
    <h3>Your tasks:</h3>
    <ul>
        <li>Play the game and find as more matches as you can</li>
        <li>Check the time to avoid missing the meeting</li>
        <li>Check the raising money progress</li>
        <li>Answer questions about the content of the interface. The questions will automatically pop up and stop the game.</li>
    </ul>
</div>
<a href='firstGame'>Start the game</a>
</body>
</html>