<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <style>
    body {
      padding-left: 20%;
      padding-right: 20%;
    }
    .display-5 {
      text-align: center;
      padding-bottom: 5%;
    }
    .selection {
      margin: auto;
      padding-bottom: 5%;
    }
  </style>
  <title>Consent Form</title>
</head>
<body>
    <h5 class="display-5">Consent Form</h5>
    <h3>Study title: Glanceable Feedback Performance on Smartwatch</h3>

    <p><Strong>Researchers: </Strong> Mark Newman, Pedja Klasnja, Yuxuan Li <br>
    <p><Strong>Institution: </Strong> The University of Michigan <br>
    We’re inviting you to participate in a research study. Your participation will take about 10 minutes, during which time you will complete three sessions of the study task. <br>
    In each session, you will play a Memory game while also monitoring a simulated smartwatch interface, which will appear within the browser window. <br> 
    You will then be asked a couple of questions about what you saw on the “smartwatch.” <br>
    After all three sessions are complete you will be asked to fill out a questionnaire regarding your experience. <br> 
    Once you have completed all three sessions and submitted the final questionnaire, you will receive a unique study code that you must copy into the input box labelled “Provide the study code here:” within the Amazon Mechanical Turk task. <br> 
    You must provide a valid study code in order to receive approval for your task.</p>
    

    <p><Strong>What is the purpose of this study?</Strong> We want to learn how factors (i.e. salience, granularity, and stylization) affect the performance of the smartwatch display.</p>
    

    <p><Strong>Risks:</Strong></p>
    <ul>
      <li>We will give you a unique code for you  that you must fill in on Amazon Mechnical Turk at the end of the study. Make sure you have read Amazon’s MTurk participant and privacy agreements to understand how your personal information may be used or disclosed.</li>
      <li>Breach of confidentiality: There is a chance your data could be seen by someone who shouldn’t have access to it. We’re minimizing this risk in the following ways:
    Data is anonymous.</li> 
        <ul>
          <li>We’ll store all electronic data on a password-protected, encrypted computer. </li>
          <li>We’ll keep your identifying information separate from your research data, but we will be able to link it to you. We’ll destroy this link after we finish collecting and analyzing the data.</li>
        </ul>
      
    </ul>
    

    <p><Strong>Future research: </Strong>De-identified data (all identifying information removed) may be shared with other researchers. You won’t be told specific details about these future research studies.</p> 

    <p><Strong>Where will data be stored? </Strong>On the web servers where the study sessions are held (Heroku).</p> 

    <p><Strong>How long will it be kept? </Strong>De-identified data will be maintained indefinitely.</p> 

    <p><Strong>Who can see my data?</Strong></p>
    <ul>
      <li>We (the researchers) will have access to de-identified data (no names, birthdate, address, etc.). This is so we can monitor study progress and analyze the data.
    Agencies that enforce legal and ethical guidelines, such as </li>
      <li>
        <ul>
          <li>The Institutional Review Board (IRB) at UM</li>
          <li>The Office for Human Research Protections (OHRP)</li>
        </ul>
      </li>
      <li>We may share our findings in publications or presentations. If we do, no identifying information will be included in any of the results shared.</li>
    </ul>
    

    <p>Please print or save this screen if you want to be able to access the information later.</p>
    <ul>
      <li>IRB #: IRB00000246</li>
      <li>IRB Approval Date: Dec 1, 2020</li>
    </ul>
    
    <p><Strong>Agreement to Participate: </Strong>Your participation is completely voluntary, and you can withdraw at any time.
    To take this test, you must be:</p>
    <ul>
      <li>At least 18 years old</li>
    </ul>
    
    <p>If you meet these criteria and would like to participate in the study, click the "Agree" button to start.</p>
    <div class='selection'>
      <a id='disBtn' class="btn btn-outline-primary" href="disagree" fontsize='20pt'>Disagree</a>
      <a id='agreeBtn' class="btn btn-primary" href="intro">Agree</a>
    </div>
    
</body>
</html>