<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
  <title>Intro</title>
</head>
<body>
    <h1>
        Smartwatch Feedback Design Test
    </h1>
    <div class='container'>
      <p>
        In this test, you will experience three scenarios. In each scenario, you need to read
        the task and finish it. Each scenario will be followed with a pop-up quiz to finish. 
        After finishing three scenarios, you will need to answer and submit the 
        post-questionnaire. At the end of the questionnaire, you will see the code.</p>

        <p>This whole process will last about 15-20 mins.</p>


        <p>This is the illsutration video of the smartwach interface that you will see.</p>
        <!-- <video width="400" height='400' controls>
          <source src="static/videos/AVideo.mp4" type="video/mp4">
          <source src="static/videos/AVideo.mp4" type="video/ogg">
        </video> -->
        <iframe src="https://drive.google.com/file/d/1z8ue4KFiz-tn2aSGIT2HGV6QNn39DWho/preview" width="640" height="480"></iframe>
      
    </div>
    <a href="firstScenario">Start</a>
</body>
</html>