<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
  <title>Intro</title>
</head>
<body>
    <h1>
        Smartwatch Feedback Design Test
    </h1>
    <div class='container'>
      <p>
        In this test, you will experience three scenarios. In each scenario, you need to read
        the task and finish it. Each scenario will be followed with a pop-up quiz to finish. 
        After finishing three scenarios, you will need to answer and submit the 
        post-questionnaire. At the end of the questionnaire, you will see the code.</p>

        <p>This whole process will last about 15-20 mins.</p>


        <p>This is the illsutration video of the smartwach interface that you will see.</p>
      
    </div>
    <a href="firstScenario.html">Start</a>
</body>
</html>