<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    a {
      background-color: #327DA9;
      border: 1px solid #327DA9;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
  </style>

  <title>Intro</title>

</head>
<body>
    <h1>
        Smartwatch Feedback Design Test
    </h1>
    <div class='container'>
      <p>
        In this test, you will experience three scenarios. In each scenario, you need to read
        the task and finish it. Each scenario will be followed with a pop-up quiz to finish. 
        After finishing three scenarios, you will need to answer and submit the 
        post-questionnaire. At the end of the questionnaire, you will see the code which is needed to submit for Amazon Mechanical Turk.</p>

        <p>Don't go back to the previous pages when you are not sure about something. The whole process will last about 15-20 mins.</p>
        <h3>Background:</h3>
        <p>Recently, you have formed a team and donated to a charity. 
          Your team has a daily goal for raising money so you are concerned about the progress.</p>
        <p>Luckily, you could check this progress on the smartwatch you have just bought. 
          You use it to check time, check activity progress, etc.</p>


        <p>This is the illsutration video of the smartwach interface that you need to watch.</p>
        <!-- <video width="400" height='400' controls>
          <source src='static/videos/AVideo.mp4' type="video/mp4">
        </video> -->
        <iframe id='video' src="" width="640" height="480"></iframe>
    
    </div>
    <a id="link" href="practicePage">Start</a>
</body>  
<script>
    var letter = '{{letter}}'

    var dict = {'A': "https://drive.google.com/file/d/1VnL_DuSvYe_DO1qAjKpMnZj1txNchdye/preview",
                'B': "https://drive.google.com/file/d/1A2fpotkp5ujxhJbk-Ur0a7t52ZXHojmT/preview",
                'C': "https://drive.google.com/file/d/10wfOUZCUflIR85y9ZlffPH0fX0_eF8FX/preview",
                'D': "https://drive.google.com/file/d/1z8ue4KFiz-tn2aSGIT2HGV6QNn39DWho/preview",
                'E': "https://drive.google.com/file/d/1DY0JcsupamYScVQyeEqw5WgXEn4FGr_a/preview",
            
                'G': "https://drive.google.com/file/d/1XKJ-mooQnBRbp2h595xU6-lo8RoSAorh/preview",
                'H': "https://drive.google.com/file/d/1s2mvEkO-zYW3KpWTDUhyKfK4YRz6Mlu7/preview"}
    document.getElementById('video').src = dict[letter]

  </script>
</html>