<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf8"/>
    <style>
        body {
            padding-left: 20%;
            padding-right: 20%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/practice_script.js" async></script>
    <title>Practice</title>
</head>
<body>

    <h1>Practice Page</h1>
    <h2>Please press the <strong style="color:red;">return</strong> key on your keyboard to show up the interface</h2>
    <h2>This is how you will call out the interface in the formal test.</h2>
    <h3>The interface will disappear in 5 seconds, and jump to the next page automatically.</h3>
    <div class='watch-container'>
        <img id='interface' src='static/images/practice.png'>
    </div>
</body>
</html>