<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        body {
            padding-left: 20%;
            padding-right: 20%;
        }

        .display-6 {
            text-align: center;
            padding-bottom: 2%;
        }


        img {
            width:30%;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Practice</title>
</head>
<body>

    <h6 class="display-6">Practice</h6>
    <ol>
        <form action="/practiceAnswer" class="form-inline" method="POST">
        <li>
            <h6>How much progress is shown by the following interface?</h6>
            <img id='interface1' src=''><br>
            <p>input your answer here: 
                <input type="number" id="test1" name="test1" required style="width: 60px"> %
            </p>
            <h6>How much progress is shown by the following interface?</h6>
            <img id='interface2' src=''><br>
            <p>input your answer here: <input type="number" id="test2" name="test2" required style="width: 60px"> %</p>
            <input id='submit' class="btn btn-primary" type="submit" value="Submit and check answer"/> 
        </li>
        </form>
        <li>
            <h6>During each gameplay session, press the <strong style="color:red;">return</strong> key on your keyboard to show the smartwatch screen.</h6>
            <h6>Hit the return key now to practice.</h6>
            <h6>The smartwatch interface will disappear in 5 seconds, and shortly after that you will jump to the next page automatically.</h6>
        </li>
    </ol>
    
   
</body>
<script>
    var letter = '{{letter}}';
    document.getElementById('interface1').src = "static/images/pilot_study_photos/" + letter + "/" + letter + '4-1.png'
    document.getElementById('interface2').src = "static/images/pilot_study_photos/" + letter + "/" + letter + '4-2.png'
</script>
</html>