<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body {
            padding-left: 20%;
            padding-right: 20%;
        }

        .display-6 {
            text-align: center;
            padding-bottom: 2%;
        }


        img {
            width:30%;
        }
        #answer {
            color: red;
        }

        .watch-container {
            flex: 0.1;
            visibility: hidden;
        }

        .watch-container.show{
            flex: 0.1;
            visibility: visible;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/practice_script.js" async></script>
    <title>Practice</title>
</head>
<body>

    <h6 class="display-6">Practice</h6>
    <ol>
        <li>
            <h6>What are the progresses of these two Simpsons interface?</h6>
            <img src='static/images/pilot_study_photos/H/H4-1.png'><br>
            <p>your answer: 
                {{test1}}<br>
                <strong id='answer'>correct answer: 20%</strong></p>
            <img src='static/images/pilot_study_photos/H/H4-2.png'><br>
            <p>your answer: 
                {{test2}}<br>
                <strong id='answer'>correct answer: 140%</strong></p>
            </p>
        </li>
        <li>
             <h6>Please press the <strong style="color:red;">return</strong> key on your keyboard to show up the practice interface</h6>
            <h6>This is how you will call out the interface in the formal test.</h6>
            <h6>The practice interface will disappear in 5 seconds, and jump to the next page automatically.</h6>
            <div class='watch-container'>
                <img id='interface' src='static/images/practice.png'>
            </div>
        </li>
    </ol>
    
   
</body>
</html>