<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <style>
        #submit {
          background-color: #327DA9;
          border: 1px solid #327DA9;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
    </style>   
    <title>Question</title>
</head>
<body>

    <form action="/secondScenario" method="POST">
        <div class='form-group'>
            <h3>What was the time when you checked it last?</h3>
            <input type="number" id="time1" name="time1" requiredminlength="1" maxlength="1" size="1" required> : <input type="number" id="name2" name="time2" requiredminlength="2" maxlength="2" size="2" required>
            
        
        
            <h3>What was the progress when you checked it last? (write it in number. e.g. 28)</h3>
            
            <input type="number" id="progress" name="progress" requiredminlength="2" maxlength="8" size="6" required>
        
        </div>
        <input id='submit' type="submit" value="Submit Form"/>
    </form>
    

</body>
</html>