<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
    <title>Question</title>
</head>
<body>

    <form action="/secondScenario" method="POST">
        <div class='form-group'>
            <h3>What was the time you checked last time?</h3>
            <input type="text" id="time1" name="time1" requiredminlength="1" maxlength="1" size="2"> : <input type="text" id="name2" name="time2" requiredminlength="2" maxlength="2" size="2">
            
        
        
            <h3>What is the progress you checked last time? (write it in number. e.g. 12%)</h3>
            
            <input type="text" id="progress" name="progress" requiredminlength="2" maxlength="8" size="6">
        
        </div>
        <input type="submit" value="Submit Form"/>
    </form>

</body>
</html>