<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
    <title>Question</title>
</head>
<body>

    <form action="/handle_form" method="POST">
        <div class='form-group'>
            <h3>What was the time you checked last time?</h3>
       
                <input type='radio' name='time' value='9:19 am'>9:19 am
                <input type='radio' name='time' value="9:20 am">9:20 am
                <input type='radio' name='time' value="9:21 am">9:21 am
                <input type='radio' name='time' value="9:23 am">9:23 am
          
       
       
            <h3>What is the progress you checked last time?</h3>
           
                <input type='radio' name='progress' value='9%'>9%
                <input type='radio' name='progress' value="18%">18%
                <input type='radio' name='progress' value="27%">27%
                <input type='radio' name='progress' value="36%">36%
        </div>
        <input type="submit" value="Submit Form"/>
    </form>
</body>
</html>