<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <style>
        #submit {
          background-color: #327DA9;
          border: 1px solid #327DA9;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
    </style>
    <title>Question</title>
</head>
<body>

    <form action="/thirdScenario" method="POST">
        <div class='form-group'>
      
            <h3>What was the progress when you checked it last?</h3>
            
            <input type="text" id="progress" name="progress" requiredminlength="2" maxlength="8" size="6">
        
        </div>
        <input id='submit' type="submit" value="Submit Form"/>
    </form>
</body>
</html>