<html lang='en'>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
    <title>First Scenario</title>
</head>
<body>
    <div class='scenario'>
        <h3>Scenario II: </h3>
        <p>After a morning’s hard work, you decide to keep playing the game. 
            However, you have an appointment with your best friend this afternoon and you don't want to miss it.</p>
        <p>This time, you will continue using your smartwatch to check time and money raising progress.</p>
        <p>Press return key to see the interface. You need to check the time on your smartwatch to make sure that you won’t miss the appointment.</p>
    </div>
    <div class='task'>
        <h3>Your tasks:</h3>
        <ul>
            <li>Play the game</li>
            <li>Check the time</li>
            <li>Check the raising money progress</li>
            <li>Answer questions about the above tasks. The questions will automatically pop up and stop the game.</li>
        </ul>
    </div>
<a href='secondGame'>Start the game</a>
</body>
</html>