<html lang='en'>
<head>
    <title>First Scenario</title>
    <style>
        a {
          background-color: #327DA9;
          border: 1px solid #327DA9;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
      </style>
</head>
<body>
    <div class='scenario'>
        <h3>Scenario II: </h3>
        <p>After a morning’s hard work, you decide to keep playing the memory card game. 
            However, you have an appointment with your best friend this afternoon and you don't want to miss it.</p>
        <p>This time, you will continue using your smartwatch to check time and money raising progress.</p>
        <p>Press <Strong>return key</Strong> to see the interface. You need to check the time on your smartwatch to make sure that you won’t miss the appointment.</p>
        <p>The current time is 3:20 pm, and your appointment time is 3:40 pm. The time flow speed is not same to the real world.</p>
    </div>
    <div class='task'>
        <h3>Your tasks:</h3>
        <ul>
            <li>Play the game and find at least 4 matches</li>
            <li>Check your heart rate and calories</li>
            <li>Check the time</li>
            <li>Check the raising money progress</li>
            <li>Answer questions about the above tasks. The questions will automatically pop up and stop the game.</li>
        </ul>
    </div>
<a href='secondGame'>Start the game</a>
</body>
</html>