<html lang='en'>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_other.css') }}" />
    <title>First Scenario</title>
</head>
<body>
    <div class='scenario'>
        <h3>Scenario III:</h3>
        <p>Finally, this long day is almost finished. You decide to continue playing the memory card game to relax yourself. 
            But your cousin asks you to go to the movies together tonight.</p>
        <p>You will continue using your smartwatch to check time and money raising progress. Press return key to see the interface.</p>
        <p>You need to check the time on your smartwatch to make sure that you won’t miss the movie.</p>
        <p>The current time is 6:40 pm, and your movie time is 6:50 am. The time flow speed is not same to the real world.</p>
    </div>
    <div class='task'>
        <h3>Your tasks:</h3>
        <ul>
            <li>Play the game and find at least 4 matches</li>
            <li>Check your heart rate and calories</li>
            <li>Check the time</li>
            <li>Check the raising money progress</li>
            <li>Answer questions about the above tasks. The questions will automatically pop up and stop the game.</li>
        </ul>
    </div>
<a href='thirdGame'>Start the game</a>
</body>
</html>