<html lang='en'>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body {
            padding-left: 20%;
            padding-right: 20%;
        }

        .display-6 {
            text-align: center;
            padding-bottom: 2%;
        }

        .emphasize {
            color: red;
        }

        img {
            width:50%;
        }

        .btn {
          padding-bottom: 10%;
        }
      </style>
    <title>Scenario</title>
</head>
<body>
    <div class='scenario'>
        <h6 class="display-6">Scenario</h6>
        <p>It is currently <b class='emphasize'>6:40pm</b>. You have an important online meeting to attend at <b class='emphasize'>6:50pm</b> and you don’t want to be late. While you are waiting, you decide to play an online Memory Card game for fun (a game in which you turn over ‘cards’ to find matching pairs of cards). 
        </p>
        <p><i>Note: <b class='emphasize'>DON'T use real world clocks</b>. Time in this scenario does not flow at exactly the same time as time in the real world (it might be a bit faster or a bit slower), so you can’t use real world clocks as a reliable guide for time in the scenario.</i></p>
        <p>After 1-2 (real-world) minutes spent finding as many matches as possible, you should check the time on your “smartwatch.” To do this, press the <b>Return key</b> on your keyboard, which will display a simulated smartwatch display on the left side of your browser screen (over the top of the game). Check the time to see how much time is left before your meeting begins.</p>
        <p>Sometime after you check the time on their watch, the game will end and you will be presented with some questions about the content of the interface you saw.</p>
    </div>
    <img src='static/images/illustrations/flow2.png'>
    
    <div class='task'>
        
        <ul class="list-unstyled">
            <li><strong>Tasks:</strong></li>
            <ul>
                <li>Play the game and find as many matches as you can</li>
            <li>Bring up the watch interface to:</li>
                <ul>
                    <li><b class='emphasize'>Check the time</b> to avoid missing the meeting</li>
                    <li><b class='emphasize'>Check the activity progress</b> on how much money was raised</li>
                </ul>
            <li>Answer questions about the content of the interface including the time. The questions will automatically pop up and stop the game.</li>
            </ul>
            
           
        </ul>
    </div>
    <div class='btn'> 
    <a id='link' class="btn btn-primary" href=''>Start the game</a>
    </div>
</body>
<script>
    var next = '{{next}}'
    document.getElementById('link').href = next
</script>
</html>