<html lang='en'>
<head>
    <style>
        a {
          background-color: #327DA9;
          border: 1px solid #327DA9;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
      </style>
    <title>Scenario</title>
</head>
<body>
    <div class='scenario'>
        <h3>Scenario:</h3>
        <p>You are a memory card game lover.  You want to play the memory card game to relax yourself. But your cousin asks you to go to the movies together tonight. You decided to play the game while waiting.</p>
        <p>Press <Strong>return key</Strong> to see the interface.</p>
        <p>You need to check the time on your smartwatch to make sure that you won’t miss the movie.</p>
        <p>The current time is 6:40 pm, and your movie time is 6:50 am. The time flow speed is not same to the real world.</p>
    </div>
    <div class='task'>
        <h3>Your tasks:</h3>
        <ul>
            <li>Play the game and find at least 4 matches</li>
            <li>Check the time to avoid missing the appointment</li>
            <li>Check the raising money progress</li>
            <li>Answer questions about the content of the interface. The questions will automatically pop up and stop the game.</li>
        </ul>
    </div>
<a href='thirdGame'>Start the game</a>
</body>
</html>